<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<%= link_to "Add a cocktail", new_cocktail_path %>

<ul>
  <% @cocktails.each do |c| %>
    <li>
      <%= link_to cocktail_path(c) do %>
        <p><%= c.name %></p>
      <% end %>
    </li>
  <% end %>
</ul>
